body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: url('Assests/♡\ mii\ ♡.gif');
}

h1 {
    font-size: 2.5rem;
    color:  #c03d67;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

#button {
    background-color: #F7B5CA;
    border: none;
    color: #c03d67;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#button:hover {
    background-color: #F7B5CA;
    transform: scale(1.05);
}

#result {
    margin-top: 30px;
    font-size: 1.3rem;
    max-width: 600px;
    padding: 20px;
    background-color: #F7B5CA;
    color:  #c03d67;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.aesthetic-gif {
    margin-top: 20px;
    text-align: center;
  }